/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-Lottery .header {
  text-align: center;           /* Aligns header text left, center or right) */
  font-size: 20px;              /* Sets header text size */
  color: #FFFFFF;               /* Sets header text color */
}


.MMM-Lottery p.xsmall.bright {
  text-align: right;           /* Aligns numbers left, center or right) */
  font-size: 25px;              /* size for your winning numbers */
  color: #76FBF0;               /* color for your winning numbers */
  
}